.venv/
config.json
__pycache__/
*.pyc
Diktat.app/
*.json.key
image.png
# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
*.apk

# macOS smece
.DS_Store
